html {
    overflow: hidden;
}

body {
    overflow: hidden;
}

/* Preloader */

.preloader {
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.preloader_progress {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
}

.preloader_progress_widget {
    height: 25px;
    background: #FF0000;
    width: 0;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.preloader_progress_title {
    padding: 0 30px;
}

.preloader_content {
    background: url("../img/cronix.png") center no-repeat;
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 0;
}

.preloader_loader {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}