<div class="products profile">
    <div class="modal-header">
        <h3 class="modal-title">{{ctrl.modal_title}}</h3>
    </div>
    <div class="modal-body">
        <h4 ng-show="modal_description" class="ng-binding ng-hide"></h4>

        <div class="">
            {{ctrl.modal_data}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="ctrl.ok()">
            <i ng-class="{hidden: !ctrl.loading}"
               class="rotation fa fa-spinner m-r-sm"></i>
            {{modal_button_ok || 'OK'}}
        </button>
    </div>
</div>