<div ui-layout ui-layout="{flow: 'row'}" >
    <div ui-layout-container size="70px">
        Top
    </div>
    <div ui-layout-container>
        <div ui-layout="{flow: 'column'}">
            <div ui-layout-container size="200px">
                Left
            </div>
            <div ui-layout-container="central" class="overflow-hidden">
                <canvas id="c"></canvas>
            </div>
            <div ui-layout-container size="200px">
                Right
            </div>
        </div>
    </div>
    <div ui-layout-container size="70px">
        Bottom
    </div>
</div>